.cabecalho__nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width:767px) {
  .cabecalho__nav {
    width: 100%;
    justify-content: space-around;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .cabecalho__nav {
    width: 90%;
  }
}


@media screen and (max-width:767px) {
  .cabecalho__nav-pesquisa:nth-child(2) {
    order: 3;
  }

  .cabecalho__nav-btn:nth-child(3) {
    order: 2;
  }
}