.banner__titulo {
    font-size:52px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom:0.5rem;
}  

@media screen and (max-width:600px) {
    .banner__titulo {
      font-size:13px;
    }
}