.adicionar__produto-form--preco {
    width:100%;
}

.adicionar__produto-form--preco:focus+.placeholder,
.adicionar__produto-form--preco:not(:placeholder-shown)+.placeholder {
    font-size: 12px;
    transform: translateY(-150%);
    color: #999;
}

@media screen and (max-width:768px) {
    .adicionar__produto-form--preco {
        font-size:13px;
        height:50px;
    }
}