.adicionar__produto-form--descricao {
    width:100%;
    font-size:15px;
}

.adicionar__produto-form--descricao:focus+.placeholder,
.adicionar__produto-form--descricao:not(:placeholder-shown)+.placeholder {
    font-size: 12px;
    transform: translateY(-150%);
    color: #999;
}

@media screen and (max-width:768px) {
    .adicionar__produto-form--descricao {
        font-size:13px;
        height:50px;
    }
}