.adicionar__produto-form--categoria {
    width:100%;
    height:55px;
}

.adicionar__produto-form--categoria:focus+.placeholder,
.adicionar__produto-form--categoria:not(:placeholder-shown)+.placeholder {
    font-size: 12px;
    transform: translateY(-150%);
    color: #999;
}

@media screen and (max-width:768px) {
    .adicionar__produto-form--categoria {
        font-size:13px;
        height:50px;
    }
}