.rodape__link-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 1.5rem;
}

@media screen and (max-width:767px) {
    .rodape__link-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        text-align: center;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .rodape__link-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px; 
    }
}