.produtos__card-nome {
    font-size:14px;
    margin-bottom:0.5rem;
    margin-top:0.5rem;
}

@media screen and (max-width:767px) {
    .produtos__card-nome {
        font-family: Raleway;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin-top:0rem;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .produtos__card-nome {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin-top:0rem;
    }
}