.produtos__card-detalhes {
    color: #2A7AE4;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:0.5rem;
}

@media screen and (max-width:767px) {
    .produtos__card-detalhes {
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;  
        margin-bottom:0rem;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .produtos__card-detalhes {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        margin-bottom:0;
    }
}